**/texout/*.aux
**/texout/*.fdb_latexmk
**/texout/*.fls
**/texout/*.log
**/texout/*.pdf
**/texout/*.synctex.gz
**/texout/*.bbl
**/texout/*.bcf
**/texout/*.blg
**/texout/*.run.xml
**/texout/*.xdv
**/missfont.log

# System Files
**.DS_Store

**.pdf